.notFound {
    margin-top: 0;
    overflow-y: scroll;
    height: 100%;
    background-color: #030f22;
}

.h1 {
    color: red;
    font-size: 100px;
    font-family: lato;
    margin-top: 150px;
}

.p1 {
    font-family: lato;
    font-size: 70px;
    color: red;
    font-weight: bolder;
}